xml version=1.0 encoding=utf-8
configuration
  configSections
    sectionGroup name=userSettings type=System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089
      section name=mycibai.Properties.InternalStrings type=System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089 allowExeDefinition=MachineToLocalUser requirePermission=false 
      section name=mycibai.Properties.Settings type=System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089 allowExeDefinition=MachineToLocalUser requirePermission=false 
    sectionGroup
    sectionGroup name=applicationSettings type=System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089
      section name=mycibai.Properties.Settings type=System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089 requirePermission=false 
    sectionGroup
  configSections
  connectionStrings
    add name=mycibai.Properties.Settings.DB_OnGodday connectionString=Provider=SQLNCLI11;Data Source=184.168.194.60;Persist Security Info=True;User ID=betaUsers;Initial Catalog=mycibai_CONTRIBUTERS
      providerName=System.Data.OleDb 
    add name=mycibai.Properties.Settings.GrammarsConnectionString
      connectionString=Data Source=(LocalDB)mycibaiS;AttachDbFilename=DataDirectoryDBs_Grammars_v1.mdf;Integrated Security=True;MultipleActiveResultSets=True
      providerName=System.Data.SqlClient 
    add name=mycibai.Properties.Settings._Grammar_v1_ConnectionString
      connectionString=Data Source=(LocalDB)MSSQLLocalDB;AttachDbFilename=DataDirectoryDBs_Grammar_v1.mdf;Integrated Security=True;Connect Timeout=30
      providerName=System.Data.SqlClient 
    add name=DefaultConnection connectionString=Data Source = SQLCE 
  connectionStrings
  startup
    supportedRuntime version=v4.0 sku=.NETFramework,Version=v4.6 
  startup
  userSettings
    mycibai.Properties.InternalStrings
      setting name=SpeechWizard serializeAs=String
        valuemy she buy kini activevalue
      setting
      setting name=LoadingIntro serializeAs=String
        valueSelamat datang tuan alexvalue
      setting
      setting name=LoadingInteface serializeAs=String
        valueMempersiapkan perisian exsystem tuanvalue
      setting
      setting name=MicrophoneWizard serializeAs=String
        valueAtoran semula microphone tuanvalue
      setting
      setting name=DatabaseInitialization serializeAs=String
        valuemy she buy kini aktif ... Peranty meng who bungi system [RandomNumber(50,100)]value
      setting
      setting name=InitChecksCompleted serializeAs=String
        value[PlaySound(Startup_Music)]My she buy kini sediavalue
      setting
      setting name=MainConfigBackup serializeAs=String
        valueBackup, Checkedvalue
      setting
      setting name=OnlineAndReady serializeAs=String
        valuemy she buy kini onlinevalue
      setting
      setting name=LoadingAudioVideoFiles serializeAs=String
        valuesemak maklumat audio dan videovalue
      setting
      setting name=NoAudioFiles serializeAs=String
        valueTee yada infovalue
      setting
      setting name=NoVideoFiles serializeAs=String
        valueTee yada infovalue
      setting
      setting name=NoMediaFiles serializeAs=String
        valuetee yada record di directory tuanvalue
      setting
      setting name=MediaLibraryUpdated serializeAs=String
        valueLibrary untuk media sudah dikemas kinivalue
      setting
      setting name=LoadingMediaError serializeAs=String
        valuesila authorizekan system my she buyvalue
      setting
      setting name=OnEnd serializeAs=String
        valueAdios, chau lorkvalue
      setting
      setting name=LoadingPlugins serializeAs=String
        valuePlugin system kini activevalue
      setting
      setting name=ConfirmEnd serializeAs=String
        valuemy she buy, tutup system kahvalue
      setting
      setting name=OnDenyEnd serializeAs=String
        valueCancel thee dark jady tutupvalue
      setting
      setting name=Sir serializeAs=String
        valueSirvalue
      setting
      setting name=Madam serializeAs=String
        valueMissvalue
      setting
      setting name=PlayAudioVideoCommand serializeAs=String
        value[get_AIName], [play me aplay a] [songvideomovie]value
      setting
      setting name=ShutdownSequence serializeAs=String
        valuemy she buy ditutup, my shee buy akan offlinevalue
      setting
      setting name=ComandConfirmation_Negative serializeAs=String
        valuemalas la;Execution declinedvalue
      setting
      setting name=MoveWindowResponse serializeAs=String
        valueHere you go;How is that;ok;surevalue
      setting
      setting name=OnStopListening serializeAs=String
        valueI will await further commandsvalue
      setting
      setting name=OnStartListening serializeAs=String
        valuesedia mendengarvalue
      setting
      setting name=StartListening serializeAs=String
        valuemy she buy aktif kem balyvalue
      setting
      setting name=ResponseOnCallingAIName serializeAs=String
        valueYes [Get_SirORMadam];Yes;my she buy;boleh saya bantu;boleh saya tuan [Get_SirORMadam]value
      setting
    mycibai.Properties.InternalStrings
    mycibai.Properties.Settings
      setting name=Alarm serializeAs=String
        value 
      setting
      setting name=AClockEnbl serializeAs=String
        valueFalsevalue
      setting
      setting name=Temperature serializeAs=String
        valuefvalue
      setting
      setting name=VideoFolder serializeAs=String
        value 
      setting
      setting name=MusicFolder serializeAs=String
        value 
      setting
      setting name=GmailUser serializeAs=String
        value 
      setting
      setting name=GmailPassword serializeAs=String
        value 
      setting
      setting name=UserDocuments serializeAs=String
        value 
      setting
      setting name=Language serializeAs=String
        value 
      setting
      setting name=User serializeAs=String
        value 
      setting
      setting name=WOEID serializeAs=String
        value2442047value
      setting
      setting name=MainWindowFactorSize serializeAs=String
        value0.000898value
      setting
      setting name=ImapServer serializeAs=String
        value 
      setting
      setting name=AIName_Spaced serializeAs=String
        valueL I N K S value
      setting
      setting name=Confidence serializeAs=String
        value0.7value
      setting
      setting name=playIntroVid serializeAs=String
        valueTruevalue
      setting
      setting name=searchEngine serializeAs=String
        valueGooglevalue
      setting
      setting name=jarvisPassword serializeAs=String
        value 
      setting
      setting name=PicturesFolder serializeAs=String
        valueDISABLEDvalue
      setting
      setting name=runOnce serializeAs=String
        valueFalsevalue
      setting
      setting name=IdleFirstRun serializeAs=String
        valueTruevalue
      setting
      setting name=atomFeed serializeAs=String
        valueFalsevalue
      setting
      setting name=RenderingQuality serializeAs=String
        value0value
      setting
      setting name=BGOpacity serializeAs=String
        value0.09value
      setting
      setting name=searchKW serializeAs=String
        valueplease look forvalue
      setting
      setting name=StopListningOnSpeech serializeAs=String
        valueFalsevalue
      setting
      setting name=FirstRun serializeAs=String
        valueTruevalue
      setting
      setting name=betaUserID serializeAs=String
        value 
      setting
      setting name=idAccepted serializeAs=String
        valueFalsevalue
      setting
      setting name=DatabaseLocation serializeAs=String
        valuenullvalue
      setting
      setting name=ConfigProtected serializeAs=String
        valueFalsevalue
      setting
      setting name=stayLoggedIn serializeAs=String
        valueTruevalue
      setting
      setting name=newsSource serializeAs=String
        valueNPRvalue
      setting
      setting name=newsArticleNum serializeAs=String
        value2value
      setting
      setting name=currentProfile serializeAs=String
        valuemainvalue
      setting
      setting name=mORf serializeAs=String
        valuemvalue
      setting
      setting name=MusicPlayer serializeAs=String
        value 
      setting
      setting name=MusicPlayerPath serializeAs=String
        value 
      setting
      setting name=MusicPlayers serializeAs=String
        value 
      setting
      setting name=LastBrowsePath serializeAs=String
        value 
      setting
      setting name=SoundEffectsOn serializeAs=String
        valueTruevalue
      setting
      setting name=SoundEffectsVolume serializeAs=String
        value0.2value
      setting
      setting name=SpeechVolume serializeAs=String
        value80value
      setting
      setting name=IMAPServerPort serializeAs=String
        value993value
      setting
      setting name=OptionsSpeech serializeAs=String
        valueTruevalue
      setting
      setting name=introFullScreen serializeAs=String
        valueTruevalue
      setting
      setting name=weatherOnStartUp serializeAs=String
        valueFalsevalue
      setting
      setting name=SqlLocalDBExe serializeAs=String
        value 
      setting
      setting name=SirORMadam serializeAs=String
        valuesirvalue
      setting
      setting name=RunOnStartUP serializeAs=String
        valueFalsevalue
      setting
      setting name=AIName serializeAs=String
        valuemycibaiSvalue
      setting
      setting name=CommandComfirmation_Timeout serializeAs=String
        value12value
      setting
      setting name=PersistedBackgroundAdaptation serializeAs=String
        value0value
      setting
      setting name=HighConfidenceThreshold serializeAs=String
        value85value
      setting
      setting name=NormalConfidenceThreshold serializeAs=String
        value60value
      setting
      setting name=LowConfidenceThreshold serializeAs=String
        value30value
      setting
      setting name=AdaptationOn serializeAs=String
        value1value
      setting
      setting name=SpeechVoice serializeAs=String
        value 
      setting
      setting name=CFGConfidenceRejectionThreshold serializeAs=String
        value50value
      setting
      setting name=VideoFolderCheck serializeAs=String
        valueTruevalue
      setting
      setting name=MusicFolderCheck serializeAs=String
        valueTruevalue
      setting
      setting name=PicturesFolderCheck serializeAs=String
        valueTruevalue
      setting
      setting name=ActionServerPort serializeAs=String
        value54657value
      setting
      setting name=EnableWebAccess serializeAs=String
        valueFalsevalue
      setting
      setting name=WebAccessKey serializeAs=String
        valueABC1234value
      setting
      setting name=StartListeningConfidenceTreshold serializeAs=String
        value0.94value
      setting
      setting name=EnableVoiceMeter serializeAs=String
        valueFalsevalue
      setting
      setting name=PushToTalk serializeAs=String
        valueFalsevalue
      setting
      setting name=AutoResetRecognizerTime serializeAs=String
        value160value
      setting
      setting name=AutoResetRecognizer serializeAs=String
        valueFalsevalue
      setting
      setting name=AutoSleepRecognizer serializeAs=String
        valueFalsevalue
      setting
      setting name=AutoSleepRecognizerTimeout serializeAs=String
        value15value
      setting
      setting name=InitialSilenceTimeout serializeAs=String
        value1value
      setting
      setting name=BabbleTimeout serializeAs=String
        value1value
      setting
      setting name=EndSilenceTimeout serializeAs=String
        value0.7value
      setting
      setting name=EndSilenceTimeoutAmbiguous serializeAs=String
        value0.9value
      setting
      setting name=HideOnStartup serializeAs=String
        valueFalsevalue
      setting
      setting name=Trace serializeAs=String
        valueFalsevalue
      setting
      setting name=NormalizeSpeechVolume serializeAs=String
        valueTruevalue
      setting
      setting name=SpeechRate serializeAs=String
        value0value
      setting
      setting name=SpeechEmphasis serializeAs=String
        value0value
      setting
      setting name=UpdateOnStartup serializeAs=String
        valueTruevalue
      setting
      setting name=mycibaiSSharedDirectory serializeAs=String
        value 
      setting
      setting name=ControlCenterTop serializeAs=String
        value0value
      setting
      setting name=ControlCenterLeft serializeAs=String
        value0value
      setting
      setting name=SaveWave serializeAs=String
        valueTruevalue
      setting
    mycibai.Properties.Settings
  userSettings
  applicationSettings
    mycibai.Properties.Settings
      setting name=Title serializeAs=String
        valuemycibaiSvalue
      setting
      setting name=ReleaseDate serializeAs=String
        value2016-04-30value
      setting
    mycibai.Properties.Settings
  applicationSettings
configuration
